<form action="/auth/login" method="POST">
   <label> Email:
      <input type="email" name="email">
   </label>
   <label> Password:
      <input type="password" name="password">
   </label>
   <button type="submit">Log in</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p> 
{{/if}}