<h1>Welcome to your profile</h1>

<form action="/roomscreate" method="post">
<button type="submit">Create a room</button>
</form>

<form action="/roomslist" method="post">
<button type="submit">See rooms</button>
</form>
<!--
<form action="/roomsupdate" method="post">
<button type="submit">Update room</button>
</form>

<form action="/roomsdeletelist" method="post">
<button type="submit">Delete room</button>
</form>
-->
<form action="/authlogout" method="GET">
<button type="submit">Logout</button>
</form>